<div class="min-vh-100 bg-light">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="h1 fw-semibold text-danger">SIGNAL <span class="text-dark">STORE</span></div>
        <div>
          <a routerLink="/cart" class="nav-link text-dark">Cart</a>
          <!-- Add more navigation items here -->
        </div>
      </div>
    </div>
  </nav>
  <!-- app.component.html -->
<router-outlet></router-outlet>
