
.content{
    padding-top: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    align-items: center; 
    justify-content: space-between; 
  }
  mat-form-field {
    flex: 1; /* Makes form fields share space equally */
    min-width: 150px; /* Optional: set a minimum width */
  }
  
  .action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
  }